img{
display: flex;
}
.hero-image {
    background-image: url("images/hurricane.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.box-transparent {
    position: absolute;
  height: 200px;
  width: 600px;
  top: 50%;
  margin-top: -100px;
  right: 50%;
  margin-right: -300px;
    background-color: rgba(255,255,255,0.6);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #28253A;
    font-family: 'Raleway', sans-serif;
}
p{
    font-family:'Roboto',sans-serif;
    color: #28253A;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
.updates {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
#step2 {
    display: none;
}
.card-img-top{
    height:300px;
    object-fit: cover;
}
.card-title{
    font-family:'Raleway', sans-serif;
}
#getUpdates{
    background-color: #FFA903;
}
h1{
    font-family: 'Raleway', sans-serif;
}
span{
padding: 10px;
}
h6{
    margin-top:5px;
    margin-left: 20px;
}
.form-check{
    margin-top:10px;
    margin-bottom:5px;
}
.fab{
    color: #FFA903;
}
footer{
    padding:20px;
}